<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Voice Agent by Yashwant</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    
    <h1>Conversational Voice Agent</h1>

    <button id="record-btn">🎙️ Start Recording</button>
    <br><br>
    <button id="stop-conversation">Stop Conversation</button>

    <p id="transcript-status">Ask Question</p>

    <audio id="audio-playback" style="display:none;"></audio>

    <script src="/static/session_management.js"></script>
    <script src="/static/script.js"></script>
</body>
</html>